{% extends "core/schemas/layout.html" %}
{% load filters %}
{% block head_title %}
{{ schema.name }} - Schemas.Pub
{% endblock %}

{% block schema_content %}
<div>
  {% if latest_readme.format == 'markdown' %}
  <div class="markdown">
    {{ latest_readme_content }}
  </div>
  <hr />
  <div class="external-readme-link">
    <a href="{{ latest_readme|try_github_repo_url }}" class="text-with-icon">
      View source
      {{ latest_readme|branded_external_link_icon_for_reference_item }}
    </a>
  </div>
  {% elif latest_readme.format == 'plaintext' %}
  <div class="plaintext">
    {{ latest_readme_content }}
  </div>
  <hr />
  <div class="external-readme-link">
    <a href="{{ latest_readme|try_github_repo_url }}" class="text-with-icon">
      View source
      {{ latest_readme|branded_external_link_icon_for_reference_item }}
    </a>
  </div>
  {% elif latest_readme %}
  <div class="external-readme-link">
    <a href="{{ latest_readme|try_github_repo_url }}" class="text-with-icon">
      View external README
      {{ latest_readme|branded_external_link_icon_for_reference_item }}
    </a>
  </div>
  {% endif %}
</div>
{% endblock %}

{% block schema_extra %}
Activity
<ul class="detail-list">
  <li>
    <div class="detail-list-item__label">Last updated</div>
    <div class="detail-list-item__value">{{ schema.updated_at|date }}</div>
  </li>
  <li>
    <div class="detail-list-item__label">Added on</div>
    <div class="detail-list-item__value">{{ schema.created_at|date }}</div>
  </li>
</ul>
{% endblock %}
