{% extends "core/layouts/base.html" %}
{% block head_title %}
{{ schema.name }} - Schema Index
{% endblock %}

{% block page_content %}
<main class="schema-detail">
  <h1>{{ schema.name }}</h1>
  <section class="main-content">
    {% if schema.schemaref_set.exists %}
    <h2>Reference links:</h2>
    <ul>
      {% for schema_ref in schema.schemaref_set.all|dictsortreversed:"created_by" %}
      <li><a href="{{schema_ref.url}}">{{schema_ref.url}}</a></li>
      {% endfor %}
    </ul>
    {% endif %}
    {% if schema.documentationitem_set.exists %}
    <h2>Documentation links:</h2>
    <ul>
      {% for documentation_item in schema.documentationitem_set.all|dictsort:"name" %}
      <li><a href="{{documentation_item.url}}">{{documentation_item.name}}</a>
      {% endfor %}
    </ul>
    {% endif %}
  </section>
</main>
{% endblock %}
