{% extends "core/schemas/layout.html" %}
{% block head_title %}
{{ schema.name }} - Schemas.Pub
{% endblock %}

{% block schema_content %}
<div>
  {% if latest_readme_format == 'markdown' %}
  <div class="markdown">
    {{ latest_readme_content }}
  </div>
  {% elif latest_readme_format == 'plaintext' %}
  <div class="plaintext">
    {{ latest_readme_content }}
  </div>
  {% elif latest_readme_url %}
  <div class="external-readme-link">
    <a href="{{ latest_readme_url }}">View external README
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="icon--sm">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    </a>
  </div>
    {% endif %}
</div>
{% endblock %}

{% block schema_extra %}
Activity
<ul class="detail-list">
  <li>
    <div class="detail-list-item__label">Last updated</div>
    <div class="detail-list-item__value">{{ schema.updated_at|date }}</div>
  </li>
  <li>
    <div class="detail-list-item__label">Added on</div>
    <div class="detail-list-item__value">{{ schema.created_at|date }}</div>
  </li>
</ul>
{% endblock %}
