{% extends "core/layouts/base.html" %}
{% load filters %}
{% block head_title %}
API Key
{% endblock %}

{% block page_content %}
<main class="api-key">
  <section>
    <h1>Manage API Key</h1>
    {% if new_api_key %}
    <p>Your API key is:</p>
    <input readonly value="{{ new_api_key }}" />
    This API key will not be shown again, but you can replace it with a new key later. Please treat it as you would a password.
    {% else %}
    <p>Create an API key to use with the Schemas.Pub API.</p>
    {% if request.user.profile.api_key %}
    <p>Warning: Creating a new API key will invalidate your previous one.</p>
    {% endif %}
    <form action="{% url 'account_api_key' %}" method="POST">
      {% csrf_token %}
      <div class="button-group">
        <button type="submit" class="button
        {% if request.user.profile.api_key %}
        button--warning
        {% else %}
        button--prominent 
        {% endif %}"
        >
        {% if request.user.profile.api_key %}Replace{% else %}Create{% endif %} API key</button>
      </div>
    </form>
    {% endif %}
  </section>
  </main>
{% endblock %}
