{% extends "core/layouts/base.html" %}
{% load filters %}
{% block head_title %}
Account
{% endblock %}

{% block page_content %}
<main class="account">
  <section>
    <h1>My Schemas</h1>
    {% if user_schemas|length > 0 %}
    <ul class="schema-list">
      {% for schema in user_schemas|dictsort:"name" %}
      <li class="schema">
        <div class="schema__info">
          <a href="{% url 'schema_detail' schema_id=schema.id %}">{{schema.name}}</a>
          {% if schema.published_at|exists_and_is_in_past %}
          <div class="visibility-badge visibility-badge--published">
          Public
          </div>
          {% else %}
          <div class="visibility-badge visibility-badge--unpublished">
          Private draft
          {% endif %}
          </div>
        </div>
        <div class="schema__action-group">
          <a href="{% url 'manage_schema' schema_id=schema.pk %}">
            <i data-lucide="square-pen" class="icon--md"></i>
          </a>
          {% if not schema.published_at|exists_and_is_in_past %}
          <a href="{% url 'manage_schema_delete' schema_id=schema.pk %}">
            <i data-lucide="trash" class="icon--md"></i>
          </a>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="text--secondary">
      You haven't added any schemas yet.
    </p>
    {% endif %}
    <a href="{% url 'manage_schema_new' %}" class="button button--prominent">Add schema</a>
  </section>
  {% if request.user.primary_account_of.count %}
  <section class="text--secondary">
    <h1>Organization{{ request.user.primary_account_of.count|pluralize }}</h1>
    <ul>
      {% for organization in request.user.primary_account_of.all %}
      <li>
        <a href="{% url 'organization_detail' organization_id=organization.id %}">
          {{ organization.name }}
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
  <section class="text--secondary">
    <h1>Account</h1>
    Email: {{ request.user.email }}
    <a href="{% url 'account_change_password' %}">Change password</a>
    <a href="{% url 'account_logout' %}">Sign out</a>
  </section>
  </main>
{% endblock %}
