{% extends "core/layouts/base.html" %}
{% load filters %}
{% block head_title %}
Account
{% endblock %}

{% block page_content %}
<main class="account">
  <section>
    <h1>My Schemas</h1>
    {% if user_schemas|length > 0 %}
    <ul class="schema-list">
      {% for schema in user_schemas|dictsort:"name" %}
      <li class="schema">
        <div class="schema__info">
          <div>
            <a href="{% url 'schema_detail' schema_id=schema.id %}">{{schema.name}}</a>
            <ul class="schema__badges">
              {% if schema.latest_rfc %}
              <li class="badge badge--rfc" title="Linked RFC">
                RFC
              </li>
              {% endif %}
              {% if schema.latest_w3c %}
              <li class="badge badge--w3c" title="Linked W3C specification">
                W3C
              </li>
              {% endif %}
              {% if schema.implementation_set.count %}
              <li title="Linked {% if schema.has_open_source_implementation %}open source {% endif %}implementations" class="badge--implementations">
                <i
                  data-lucide="layers-2"
                  class="icon--sm
                    {% if schema.has_open_source_implementation%}implementation-icon--open-source{% endif %}
                "
                ></i>
              </li>
              {% endif %}
            </ul>
          </div>
          {% if schema.published_at|exists_and_is_in_past %}
          <div class="visibility-badge visibility-badge--published">
          Public
          </div>
          {% else %}
          <div class="visibility-badge visibility-badge--unpublished">
          Private draft
          {% endif %}
          </div>
        </div>
        <div class="schema__action-group">
          <a href="{% url 'manage_schema' schema_id=schema.id %}" class="action-button">
            <i data-lucide="square-pen" class="icon--sm"></i> Edit
          </a>
          <a href="{% url 'schema_export' schema_id=schema.id %}" class="action-button">
            <i data-lucide="file-braces" class="icon--sm"></i> Export
          </a>
          {% if schema.published_at|exists_and_is_in_past %}
          <a href="{% url 'manage_schema_permanent_urls' schema_id=schema.id %}" class="action-button">
            <i data-lucide="link" class="icon--sm"></i> Manage URLs
          </a>
          {% endif %}
          {% if not schema.published_at|exists_and_is_in_past %}
          <a href="{% url 'manage_schema_delete' schema_id=schema.id %}" class="action-button action-button--danger">
            <i data-lucide="trash" class="icon--sm"></i> Delete
          </a>
          {% endif %}
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p class="text--secondary">
      You haven't added any schemas yet.
    </p>
    {% endif %}
    <a href="{% url 'manage_schema_new' %}" class="button button--prominent">Add schema</a>
  </section>
  {% if request.user.profile.organization %}
  <section class="text--secondary">
    <h1>Organization</h1>
    <a href="{% url 'organization_detail' organization_id=request.user.profile.organization.id %}">
      {{ request.user.profile.organization.name }}
    </a>
  </section>
  {% endif %}
  <section class="text--secondary">
    <h1>Account</h1>
    Email: {{ request.user.email }}
    <a href="{% url 'account_change_password' %}">Change password</a>
    <a href="{% url 'account_logout' %}">Sign out</a>
    <a href="{% url 'account_api_key' %}">API Key</a>
  </section>
  </main>
{% endblock %}
