asgiref==3.9.1
Django==5.2.5
django-allauth==65.11.0
django-environ==0.11.2
django-oauth-toolkit==3.4.1
django-redis==5.4.0
django-storages[google]==1.14.4
google-auth==2.41.1
google-cloud-logging==3.11.3
gunicorn==23.0.0
uvicorn[standard]==0.49.0
mcp==2.0.0
bleach==6.2.0
cmarkgfm==2024.11.20
jsonschema==4.26.0
pillow==12.1.1
psycopg2-binary==2.9.10
Pygments==2.19.2
redis==7.4.0
requests==2.32.5
