<li class="formset form-container{% if form.url.value %} formset--collapsed{% endif %}">
  <div class="schema-ref-formset__actions">
    <button class="button" type="button" data-formset-close-trigger>
      <i data-lucide="x" class="icon--md"></i>
    </button>
    <button class="button" type="button" data-formset-expand-collapse-toggle>
      <i data-lucide="chevron-up" class="icon--md"></i>
    </button>
  </div>
  <div>
    Documentation Item <span data-formset-count>{{ count }}</span>
  </div>
  <div class="split-field-container split-field-container--67-33 formset-content--collapsible">
    {% include "core/manage/field.html" with field=form.name %}
    {% include "core/manage/field.html" with field=form.role %}
  </div>
  <div class="split-field-container split-field-container--67-33 formset-content--collapsible">
    {% include "core/manage/field.html" with field=form.url %}
    {% include "core/manage/field.html" with field=form.format %}
  </div>
</li>
