<li class="formset form-container">
  <button class="button formset__close-trigger" type="button">
    <i data-lucide="x" class="icon--md"></i>
  </button>
  <div class="split-field-container split-field-container--67-33">
    {% include "core/manage/field.html" with field=form.name %}
    {% include "core/manage/field.html" with field=form.role %}
  </div>
  <div class="split-field-container split-field-container--67-33">
    {% include "core/manage/field.html" with field=form.url %}
    {% include "core/manage/field.html" with field=form.format %}
  </div>
</li>
