<div class="field{% if field.errors %} field--has-errors{% endif %} {% if field.is_hidden %} field--is-hidden{% endif %} field--{{ field.field.widget.input_type }}">
  {% if field.field.widget.input_type == 'checkbox' %}
  {{ field }}
  {% endif %}
  <label
    for="{{ field.id_for_label }}"
    class="{% if field.field.required %}field__label--is-required{% endif %}">
    {{ field.label }}
  </label>
  {% if input_prefix %}
  <div class="input-group">
    <div class="input-group__prefix">
      {{ input_prefix }}
    </div>
    {{ field }}
  </div>
  {% elif field.field.widget.input_type != 'checkbox' %}
  {{ field }}  
  {% endif %}
  {% if field.help_text %} 
  <div class="field__help-text">
    {{ field.help_text }}
  </div>
  {% endif %}
  {{ field.errors }}
</div>
