{% extends "core/layouts/base.html" %}
{% load filters %}
{% block head_title %}
Permanent URLs for {{ schema.name }}
{% endblock %}
{% block page_content %}

<main class="manage-permanent-urls">
  <h1>Add permanent URL for "{{ schema.name }}"</h1>
  <section class="form-container main-content">
    <form action="{% url 'manage_schema_permanent_urls' schema_id=schema.id %}" method="POST">
      {% csrf_token %}
      {% include "core/manage/field.html" with field=form.target %}
      <div class="field">
        <label
            for="{{ form.link_type.label }}"
            class="field__label--is-required"
          >
          {{ form.link_type.label }}
        </label>
        <div class="input-group">
          {{ form.link_type }}
          {{ form.suffix }}
        </div>
        <div class="field__help-text">
          {{ form.suffix.help_text }}
        </div>
        {{ form.suffix.errors }}
      </div> 
      <p>Permanent URLs can only be removed by a Schemas.Pub administrator.</p>
      <button type="submit" class="button button--prominent">Create URL</button>
    </form>
  </section>
</main>
{% endblock %}
