/* Shared styles and utilities */

html {
  background: #222;
  --text-primary: #fff;
  --text-secondary: #bbb;
  color: var(--text-primary);
  font-family: sans-serif;
}


h1 {
  font-size: 24px;
  color: var(--text-primary);
}

h2 {
  color: var(--text-secondary);
  font-size: 18px;
}

a {
  color: var(--text-primary);
  text-decoration: underline;
  cursor: pointer;
}

input {
  border-radius: 8px;
  padding: 0.5rem;
  background: #444;
  color: var(--text-primary)
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}

.nav-header--with-home-link {
  justify-content: space-between;
}

.nav-header a {
  text-decoration: none;
}

.nav-header .home-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav-header a:hover {
  text-decoration: underline;
}

.icon--sm {
  width: 1rem;
  height: 1rem;
}

.icon--md {
  width: 1.5rem;
  height: 1.5rem;
}

.messages__message {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: #0c4a6e;
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  font-weight: 500;
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.button-link {
  background: #3730a3;
  padding: 0.25rem 1.25rem;
  border-radius: 1rem;
  text-decoration: none;
  font-weight: 500;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}

a.button-link:hover {
  background: #4338ca;
  text-decoration: none;
}

.button-link:active {
  box-shadow: none;
}

/* Page styles */

.main-content {
  width: 100%;
  max-width: 60rem;
  background: #333;
  padding: 1rem;
  border-radius: 8px;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.homepage {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.homepage .schema-list {
  line-height: 2;
}

.schema-detail {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


