html {
  background: #222;
  --text-primary: #fff;
  --text-secondary: #bbb;
  color: var(--text-primary);
}


h1 {
  font-size: 24px;
  color: var(--text-primary);
}

h2 {
  color: var(--text-secondary);
  font-size: 18px;
}

a {
  color: var(--text-primary);
  text-decoration: underline;
  cursor: pointer;
}

input {
  border-radius: 8px;
  padding: 0.5rem;
  background: #444;
  color: var(--text-primary)
}

.icon {
  width: 1rem;
  height: 1rem;
}

.text-primary {
  color: var(--text-primary);
}

.text-secondary {
  color: var(--text-secondary);
}

.main-content {
  width: 100%;
  max-width: 60rem;
  background: #333;
  padding: 1rem;
  border-radius: 8px;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.homepage {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.homepage .schema-list {
  line-height: 2;
}

.schema-detail {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.schema-detail .back-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  align-self: flex-start;
  text-decoration: none;
}

.schema-detail .back-link:hover {
  text-decoration: underline;
}
