{% extends "core/layouts/base.html" %}

{% comment %}
Do not include third-party scripts or other code we don't control
in this template! This is used by auth pages: allauth's sign-in/sign-up
flows and django-oauth-toolkit's OAuth consent screen.
{% endcomment %}

{% block body %}
<header
  class="nav-header nav-header--with-home-link">
  <a class="home-link" href="{% url 'index' %}">
    <span>
      <span class="color-logo">{</span>Schemas<span class="color-logo">.</span>Pub<span class="color-logo">}</span>
      </span>
  </a>
</header>
{% if messages %}
  {% include "core/partials/messages.html" with messages=messages%}
{% endif %}
<main class="account-page">
  <div class="main-content">
    {% block content %}{% endblock %}
  </div>
</main>
{% endblock body %}
