{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/preflight.css' %}" />
        <link rel="stylesheet" href="{% static 'css/site.css' %}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="{% static 'js/site.js' %}"></script>
        {% comment %}
        Do not include third-party scripts ore other code we don't control
        in this template! Add them to noauth.html instead.
        {% endcomment %}
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        {% block body %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
        {% include "core/partials/footer.html" %}
    </body>
</html>
