{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/preflight.css' %}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/agate.min.css">
        <link rel="stylesheet" href="{% static 'css/site.css' %}" />
        <script src="https://unpkg.com/lucide@latest"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js" async id="hljs-src"></script>
        <script src="{% static 'js/site.js' %}"></script>
        {% block extra_head %}
        {% endblock extra_head %}
    </head>
    <body>
        <header
            class="nav-header
                {% if request.path != '/' %}
                nav-header--with-home-link
                {% endif %}"
            >
            {% if request.path != '/' %}
            <a class="home-link" href="{% url 'index' %}">
                <span>
                    <span class="color-logo">{</span>Schemas<span class="color-logo">.</span>Pub<span class="color-logo">}</span>
                </span>
            </a>
            {% endif %}
            {% if request.path|slice:"9" != '/account/' or request.path|slice:"16" == '/account/profile'  %}
            {% if request.user.is_authenticated %}
            <a href="{% url 'account_profile' %}">
                <i data-lucide="circle-user" class="icon--md"></i>
            </a>
            {% else %}
            <div class="nav-header__auth-actions">
                <a href="{% url 'account_signup' %}" class="button">Sign up to register your schema</a>
                <a href="{% url 'account_login' %}" class="button button--primary">Sign in</a>
            </div>
            {% endif %}
            {% endif %}
        </header>
        {% block body %}
            {% if messages %}
                {% include "core/partials/messages.html" with messages=messages %}
            {% endif %}
        {% block page_content %}
        {% endblock page_content %}
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
        {% include "core/partials/footer.html" %}
    </body>
</html>
