{% extends "core/layouts/base.html" %}
{% block head_title %}
  About Schemas.pub
{% endblock %}

{% block page_content %}

  <main class="about-page">
    <h1>Overview</h1>
    <div class="main-content">
      <h2>Linking and Indexing</h2>
      <p>This site links to and indexes schemas from all kinds of places:
        open source projects, standards organizations, consortiums, and
        commercial organizations.  <a href="/account/signup">Join</a> to have your work
        <em>listed and indexed</em>
        so it can be found and used.</p>

      <h2>Persistent Schema IDs</h2>
      <p><em>Persistent Schema IDs</em> beginning with
        <em>https://id.schemas.pub</em> can be registered here and used
        in an "$id" keyword (JSON Schema) or similar.
        <a href="https://docs.google.com/forms/d/1yPMuDri2VLWdv0WW6gj_GPA7xOSg-Nqc7_nfTJmabQg"
        >Contact us</a> for an organizational
      membership to get started.</p>
    </div>
    <h1>Background</h1>
    <div class="main-content">
      <p>
        Schemas.pub is a pilot project of the <a href="https://dtinit.org">Data
        Transfer Initiative</a>, built and hosted to promote interoperability
        and consistency of data exchange, especially for personal data transfer.
      </p>

      <p>
        There are some data types we exchange over the Internet quite frequently
        and successfully: calendar items, tasks and contacts for example. The
        standards for
        <a href="https://www.rfc-editor.org/rfc/rfc2445">calendar items</a>
        and <a href="https://www.rfc-editor.org/rfc/rfc2425">contacts</a>
        were written in 1998.  Those standards use a unique data
        format which made them a lot more work to define, and the standards
        consensus process took years.
      </p>
      <p>Since then, JSON and XML have made basic data formatting much more
        interoperable
        and schema languages for those formats have emerged. <a
            href="https://json-schema.org/">JSON Schema
        </a> and other schema languages for JSON can quickly and easily show
        what
        some data consumer expects in a particular data file, and
        <a href="https://www.w3.org/TR/xmlschema11-1/">XML Schema Definition
          Language</a> does the same for XML.
      </p>
      <p>
        Why have better data formats and schema languages
        not made it <em>easier</em> to define a standard? Why do we have no widely
        interoperable standard for "an online photo album"
        or "a restaurant reservation"? Instead of making it easier to
        define standards, modern tools have encouraged the
        proliferation of "unilateral" data definitions -- Web APIs with schemas
        defined unilaterally by the host
        of that API. Thus, most services that host
        common data (like digital photos in albums, or restaurant info and
        reservation data!) uses different schemas.
      </p>

      <p> Is this really a problem? In practice API users just
        translate API data into their own format, sometimes aided by schema
        definitions and sometimes not. Yet, we think this could be made
        somewhat better by allowing organizations to publish schemas that
        have some real thought behind them, alongside tools for using
        and applying those schemas, and reputational markers to show which
        data schemas have implementations, interoperability, open licenses
        or standards governance. We welcome your thoughts.
      </p>

      <p>We're building the site
        as we learn about what's most useful to publishers of schemas
        as well as implementers searching for solid information.
        <a href="https://docs.google.com/forms/d/1yPMuDri2VLWdv0WW6gj_GPA7xOSg-Nqc7_nfTJmabQg"
        >Contact us</a> if you have feedback on functionality.
      </p>

      <p>To get started, search for a schema you're interested in and see
        how it's defined, some examples, and how it's implemented. If you have
        a schema you think should be listed, <a
            href="{% url 'account_signup' %}">create an account and add it.</a>
      </p>
    </div>
  </main>
{% endblock %}
