{% extends "core/layouts/base.html" %}
{% block head_title %}
Schemas.Pub - A public schema registry 
{% endblock %}

{% block page_content %}
<main class="homepage">
  <h1 class="logo">
    <span class="color-logo">{</span>
    Schemas
    {# We're using a filled star here as opposed to Lucide's unfilled star #}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="icon--sm color-logo logo__star">
      <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
    </svg>
    Pub
    <span class="color-logo">}</span>
  </h1>
  <h2>A public schema registry</h2>
  <section class="main-content">
    <form action="" method="GET">
      <div class="split-field-container split-field-container--50-25-25">
        <input
          name="search_query"
          type="text"
          placeholder="Search for a schema"
          value="{{ request.GET.search_query }}" 
          class="js-autosubmit-input field"
          {% if request.GET.search_query %}autofocus{% endif %}
        />
        <select name="specification_file_type" class="js-autosubmit-select field">
          <option value="" {% if not request.GET.specification_file_type %}selected{% endif %}>Any language</option>
          <option value="json" {% if request.GET.specification_file_type == 'json' %}selected{% endif %}>JSON</option>
          <option value="xml" {% if request.GET.specification_file_type == 'xml' %}selected{% endif %}>XML</option>
        </select>
        <select name="documentation_role" class="js-autosubmit-select field">
          <option value="" {% if not request.GET.documentation_role %}selected{% endif %}>Any documentation</option>
          {% for role in documentation_roles %}
          <option value="{{ role.value }}" {% if request.GET.documentation_role == role.value %}selected{% endif %}>{{ role.label }}</option> 
          {% endfor %}
        </select>
      </div>
    </form>
    <p>
      {% if schemas|length > 0 %}
        Showing {{ schemas | length }}
        {% if request.GET.search_query %} matching
        {% else %}
        of {{ total_schema_count }}
        {% endif %}
        schema{{ total_schema_count | pluralize }}:
      {% else %}
      No {% if request.GET.search_query %} matching {% endif %} schemas.
      {% endif %}
    </p>
    <ul class="schema-list">
      {% for schema in schemas %}
      <li class="schema">
        <a href="{% url 'schema_detail' schema_id=schema.id %}">{{ schema.name }}</a>
        {% if schema.latest_rfc %}
        <ul class="schema__badges">
          <li class="badge badge--rfc">
            <i data-lucide="file-text" class="icon--sm"></i>
            RFC
          </li>
        </ul>
        {% endif %}
        {% if schema.latest_w3c %}
        <ul class="schema__badges">
          <li class="badge badge--w3c">
            <i data-lucide="file-text" class="icon--sm"></i>
            W3C
          </li>
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
<script defer data-domain="schemas.pub" src="https://plausible.io/js/script.js"></script>

{% endblock %}
