{% extends "core/layouts/base.html" %}
{% block head_title %}
Schema Index
{% endblock %}

{% block page_content %}
<main class="homepage">
  <h1>Schema Index</h1>
  <h2>An open source registry for schema files</h2>
  <section class="main-content">
    <form action="" method="GET">
      <input
        name="search_query"
        type="text"
        placeholder="Search for a schema"
        value="{{ request.GET.search_query }}" 
        class="js-autosubmit-input"
        {% if 'search_query' in request.GET %}autofocus{% endif %}
      />
    </form>
    <p>
      {% if schemas|length > 0 %}
        Showing {{ schemas | length }}
        {% if request.GET.search_query %} matching
        {% else %}
        of {{ total_schema_count }}
        {% endif %}
        schema{{ schemas | pluralize }}:
      {% else %}
      No {% if request.GET.search_query %} matching {% endif %} schemas.
      {% endif %}
    </p>
    <ul class="schema-list">
      {% for schema in schemas %}
      <li>
        <a href="{% url 'schema_detail' schema_id=schema.id %}">{{ schema.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </section>
</main>
{% endblock %}
