{% extends "core/layouts/base.html" %}
{% block head_title %}Privacy Policy – Schemas.pub{% endblock %}

{% block page_content %}
<main class="about-page">
  <h1>Privacy Policy</h1>
  <div class="main-content">

    <p>The Data Transfer Initiative (<strong>"DTI," "we," "our," or "us"</strong>) provides this privacy policy to describe how we collect, use, and share information in connection with the professional or business use of our schema registry (<strong>"registry"</strong>) and associated websites and tools, <a href="https://schemas.pub/">https://schemas.pub/</a> (the <strong>"Site"</strong>).</p>
    <p>If you would like information about data practices on our general information website, please refer to that website privacy policy, <a href="https://dtinit.org/privacy-policy">https://dtinit.org/privacy-policy</a>.</p>

    <h2>Information Collection</h2>
    <p>When using our Site in a professional or business capacity, you may provide information about individuals, including names, contact information, log-in information, and any other information you choose to provide. For example, we collect this information when you submit information to our registry, join our email list, create an account, contact us, or interact with us for any other purpose. We may also collect business mailing and billing information when you register with us.</p>
    <p>Additionally, we may collect information about registrants from other sources, such as other registrants, our business partners, or publicly available sources.</p>
    <p>We (and other entities) automatically collect information relating to your interactions with us and our Site, including browser type, IP address, pages visited and other activities on the Site, device type, and time and date of visit, and other information we collect through the use of cookies and similar technology. This collection may inadvertently include information about individuals visiting our Site not in a professional or business capacity.</p>

    <h2>Information Use</h2>
    <p>We may use information we collect for any lawful purpose, including the following:</p>
    <ul>
      <li>To fulfill your requests, complete registrations, create and manage accounts, or otherwise deliver our products and services;</li>
      <li>To operate, update, and improve our products and services, including the registry;</li>
      <li>To respond to your inquiries, including questions about the registry;</li>
      <li>To operate, personalize, and improve the Site, including for analytics purposes;</li>
      <li>To send updates and materials that may be of interest to you;</li>
      <li>To comply with the law and to maintain the security of the registry and our Site; or</li>
      <li>With your consent, or as otherwise disclosed at the time information is collected.</li>
    </ul>
    <p>We may use information that has been de-identified or aggregated without limitation.</p>

    <h2>Information Sharing</h2>
    <p>We may share the information we collect with other parties, including the following:</p>
    <ul>
      <li>With other Site users that have access to our registry, as these users will be able to view information such as registration status and business contact information;</li>
      <li>With third-party service providers who process information on our behalf, such as payment processors, data hosting services, and email service providers, or with our legal or business advisors;</li>
      <li>With any affiliates or joint venture partners that we may have in the future;</li>
      <li>As part of a corporate sale, merger, or acquisition, or other transfer of all or part of our assets, including as part of a bankruptcy proceeding;</li>
      <li>Pursuant to a subpoena, court order, governmental inquiry, or other legal process or as otherwise required by law, to protect our rights or the rights of third parties, or to protect the safety or security of any person or entity;</li>
      <li>With your consent or as otherwise disclosed at the time of data collection or sharing.</li>
    </ul>
    <p>We may share information that has been de-identified or aggregated without limitation.</p>
    <p>The Site may offer interactive features, such as the ability to comment on or interact with entries in our registry, that you can use to communicate with other Site visitors or to submit and post your own content. Some of that information may also be made available to the public. If you disclose information in one of these forums, this information can be viewed, collected, and used by others.</p>

    <h2>Analytics</h2>
    <p>We may work with third parties that collect data about your use of the Site and other sites or apps over time for non-advertising purposes. Your browser may offer tools to limit the use of cookies or to delete cookies; however, if you use these tools, our Site may not function as intended.</p>

    <h2>Third-Party Links and Tools</h2>
    <p>The Site may provide links to third-party websites or apps. We do not control the privacy practices of those websites or apps, and they are not covered by this privacy policy. You should review the privacy policies of other websites or apps that you use to learn about their data practices.</p>

    <h2>International Users</h2>
    <p>This section applies to those that use our Site from the European Economic Area, Switzerland, or the United Kingdom and to individuals subject to the laws of those jurisdictions whose personal information we process in connection with their company's use of our Site.</p>
    <p>Sometimes, we process personal information with your consent. On other occasions, we may process personal information when necessary to fulfill a contract or where required to do this by law. We may also process personal information when it is in our legitimate interests to do so (e.g., for customer service, for development of our services, or for safety and security purposes) and when these interests are not overridden by your data protection rights.</p>
    <p>Please be aware that the personal information we collect may be transferred to and maintained on servers or databases located outside your state, province, country, or other jurisdiction, where the privacy laws may not be as protective as those in your location.</p>
    <p>You have a right to the following:</p>
    <ul>
      <li>To request access to the personal information we hold about you;</li>
      <li>To request that we rectify or erase your personal information;</li>
      <li>To request that we restrict or block the processing of your personal information;</li>
      <li>Under certain circumstances, to receive personal information about you that we store and transmit to another without hindrance from us, including requesting that we provide your personal information directly to another, i.e., a right to data portability; and</li>
      <li>Where we previously obtained your consent, to withdraw consent to processing your personal information.</li>
    </ul>
    <p>To exercise these rights, contact our Data Protection Officer using the "Contact" section below. Please be aware that we may be unable to afford these rights to you under certain circumstances, such as if we are legally prevented from doing so.</p>
    <p>Additionally, you have the right to lodge a complaint against us. To do so, contact the supervisory authority in your country of residence.</p>

    <h2>Retention</h2>
    <p>We retain personal information in identifiable form only for as long as necessary to fulfill the purposes for which the information was provided to us or, if longer, to comply with legal obligations, to resolve disputes, to enforce agreements, or to satisfy any similar essential purposes. To determine the appropriate retention period for personal information, we consider the amount, nature, and sensitivity of the information, the potential risk of harm from unauthorized use or disclosure of such information, the purposes for which we process the information and whether we can achieve those purposes through other means, and the applicable legal requirements. Once the retention period expires and if not otherwise required to retain personal information by law, we will delete or de-identify information.</p>

    <h2>Updating Your Information</h2>
    <p>When you have an account with us, you may review, change, or update your contact and other registry information by logging into your account.</p>

    <h2>Changes to Our Privacy Policy</h2>
    <p>If our information practices change, we will post these changes on this page. We encourage you to visit this page periodically to learn of any updates.</p>

    <h2>Contact</h2>
    <p>If you have questions, comments, or concerns about this privacy policy, please contact us at:</p>
    <p>
      <strong>Schema Registry Support, Privacy and Data Protection</strong><br>
      <a href="mailto:support@dtinit.org">support@dtinit.org</a>
    </p>

  </div>
</main>
{% endblock %}
