{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block head_title %}
            {% endblock head_title %}
        </title>
        <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
        <link rel="stylesheet" href="{% static 'css/preflight.css' %}" />
        <link rel="stylesheet" href="{% static 'css/site.css' %}" />
        <script src="{% static 'js/site.js' %}"></script>
        <!-- Do not include third-party scripts in this template!
            This template is used by auth pages. -->
    </head>
    <body>
        <header
            class="nav-header nav-header--with-home-link">
            <a class="home-link button-link" href="{% url 'index' %}">
                <span>
                    <span class="color-logo">{</span>Schemas<span class="color-logo">.</span>Pub<span class="color-logo">}</span>
                </span>
            </a>
        </header>
        {% block body %}
            {% if messages %}
                {% include "core/partials/messages.html" with messages=messages%}
            {% endif %}
        <main class="account-page">
            <div class="main-content">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% endblock body %}
        {% block extra_body %}
        {% endblock extra_body %}
        {% include "core/partials/footer.html" %}
    </body>
</html>
