/* Shared styles, layouts, and utilities */

html {
  --text-primary: #fff;
  --text-secondary: #bbb;
  --primary-color: #4338ca;
  --primary-color-highlight: #4f46e5;
  background: #222;
  color: var(--text-primary);
  font-family: sans-serif;
}


h1 {
  font-size: 24px;
  color: var(--text-primary);
}

h2 {
  color: var(--text-secondary);
  font-size: 18px;
}

a {
  color: #818cf8;
  cursor: pointer;
  font-weight: 500;
}

a:hover {
  color: #a5b4fc;
}


input {
  border-radius: 8px;
  padding: 0.5rem;
  background: #444;
  color: var(--text-primary);
  width: 100%;
}


.nav-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 1rem;
}

.nav-header--with-home-link {
  justify-content: space-between;
}

.nav-header a {
  text-decoration: none;
}

.nav-header .home-link {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav-header__auth-actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav-header a:hover {
  color: var(--text-secondary);
}

.icon--sm {
  width: 1rem;
  height: 1rem;
}

.icon--md {
  width: 1.5rem;
  height: 1.5rem;
}

.messages {
  margin-bottom: 1rem;
  position: fixed;
  right: 0;
  top: 0;
  padding: 1rem;
}

.messages .message {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background: #172554;
  color: #bfdbfe;
  border: 1px solid #1e3a8a;
  margin: 0.5rem auto;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-weight: 500;
  max-width: 40rem;
  min-width: 30rem;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  animation: appear 100ms;
}

.messages .message--warning {
  background: #422006;
  color: #fef08a;
  border-color: #713f12;
}

.messages .message--success {
  background: #052e16;
  color: #bbf7d0;
  border-color: #14532d;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.8);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.messages .message .message__content {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.messages .message .message__dismissal-trigger {
  cursor: pointer;
}

.messages .message .message__progress-bar {
  position: absolute; 
  left: 100%;
  bottom: 0;
  right: 0;
  height: 2px;
  background: #1e3a8a;
  /* This duration needs to match MESSAGE_TIMEOUT_MS in site.js */
  animation: progress-bar-wipe linear 10s;
}

.messages .message--warning .message__progress-bar {
  background: #713f12;
}

.messages .message--success .message__progress-bar {
  background: #14532d;
}

@keyframes progress-bar-wipe {
  from {
    left: 0;
  }

  to {
    left: 100%;
  }
}

.text--primary {
  color: var(--text-primary);
}

.text--secondary {
  color: var(--text-secondary);
}

.button-link {
  font-weight: 500;
  color: var(--text-primary);
}

.button-link--primary {
  background: var(--primary-color);
  text-decoration: none;
  border-radius: 1rem;
  padding: 0.25rem 1.25rem;
  box-shadow: 0 4px 4px -1px rgba(0,0,0,0.1);
}

a.button-link--primary:hover {
  color: var(--text-primary);
  background: var(--primary-color-highlight);
  text-decoration: none;
}

.button-link--primary:active {
  box-shadow: none;
}

.account-page {
  max-width: 30rem;
  margin: 0 auto;
  background: #333;
  padding: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.account-page form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.account-page form ~ * {
  align-self: flex-end;
}

.button {
  font-weight: 500;
  cursor: pointer;
  color: var(--text-primary);
}

.button:hover {
  color: var(--text-secondary);
}

.button--prominent,
.button--confirm {
  background: var(--primary-color);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  box-shadow: 0 4px 4px -1px rgba(0,0,0,0.1);
}

.button--prominent:hover,
.button--confirm:hover { 
  background: var(--primary-color-highlight);
  color: var(--text-primary);
}

.button--prominent:active,
.button--confirm:active {
  box-shadow: none;
}

.account-page .button-group {
  align-self: flex-end;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 1rem;
}

.account-page form > button:last-child{
  align-self: flex-end;
  width: 100%;
}

.account-page p {
  color: var(--text-secondary);
  text-align: center;
  width: 100%;
}

/* These forms only have hidden fields
 * but cause layout issues as flex children */
.account-page #resend,
.account-page #logout-from-stage {
  display: none; 
}

.field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.field label {
  font-size: 16px;
  font-weight: 500;
}

.field--checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.field--checkbox input {
  width: auto;
  cursor: pointer;
}

.field--checkbox label {
  cursor: pointer;
}

.markdown {
  background: #222;
  padding: 0 1rem;
  max-height: 50rem;
  overflow: auto;
}

.markdown p,
.markdown ul
.markdown ol {
  margin: 0.5rem 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-size: 18px;
  color: var(--text-primary);
  margin: 1rem 0;
}

/* Page styles */

.main-content {
  width: 100%;
  max-width: 60rem;
  background: #333;
  padding: 1rem;
  border-radius: 8px;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Homepage */
.homepage {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.homepage .schema-list {
  line-height: 2;
}


/* Schema detail */
.schema-detail {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.schema-definition {
  max-height: 50rem;
  overflow: auto;
}

.schema-definition .hljs {
  background: #222;
}

/* Account profile */
.account {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 60rem;
}

.account section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

.account .schema-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.account .schema-list .schema {
  width: 100%;
  padding: 0.5rem 1rem;
  background: #333;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account .schema-list .schema .schema__action-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
